// Override normalize css with custom resets
* {
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none;
}
html,
body {
    margin: 0;
    padding: 0;
}
button {
    border: none;
    background-color: none;
    font-size: inherit;
    line-height: inherit;
}



