body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 5.7rem;
    padding-bottom: 5rem;
    background-color: $clr-very_dark_blue;
}

@media (min-width: $largeBreakpoint) {
    body {
        justify-content: center;
    }
}

