// Imports
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

// Font styles

html {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 0.85rem;
	color: #fff;

	@media only screen and (min-width: $smallBreakpoint) {
		font-size: 0.925rem;
	}

	@media only screen and (min-width: $largeBreakpoint) {
		font-size: 1rem;
	}
}

// Header Styles


// Text Styles
