// Imports
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//  Variables
//    Primary
//    Text
$very_dark_desaturated_blue: hsl(238, 29%, 16%);
$soft_red: hsl(14, 88%, 65%);

//    Gradient
//    Background gradient:
$soft_violet: hsl(273, 75%, 66%);
$soft_blue: hsl(240, 73%, 65%);

//    Neutral
//    Text
$very_dark_grayish_blue: hsl(237, 12%, 33%);
$dark_grayish_blue: hsl(240, 6%, 50%);
//    Dividers
$light_grayish_blue: hsl(240, 5%, 91%);


// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    border: none;
    button {
        background: inherit;
    }
} 


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient($soft_violet 20%, $soft_blue 80%);
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    color: $very_dark_desaturated_blue;
}
// Layout
.faq-container {
    height: 570px;
    width: 330px;
    min-width: 330px;
    display: grid;
    grid-template-rows: minmax(120px, auto) minmax(50px, auto) 1fr;
    background: #fff url("../images/bg-pattern-mobile.svg") no-repeat center top;
    font-size: 12px;
    border-radius: 1.5rem;
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
    margin: 8rem 1rem 1rem 1rem;
}

// Accordion
h1 {
 font-size: 3em;   
 font-weight: 700;
 text-align: center;
}
.accordion-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}
.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
    color: $very_dark_grayish_blue;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.accordion:hover {
    color: $soft_red;
}
.active .accordion{
    font-weight: 700;
    color: $very_dark_desaturated_blue;
    margin-bottom: 0.7rem;
}
.active img {
    transform: rotate(-180deg);
}
p {
    font-size: 1.1em;
    color: $dark_grayish_blue;
}

.panel {
    padding: 1.3rem 0;
    border-bottom: 1px solid $light_grayish_blue;
    cursor: pointer;
    img {
        transition: 0.3s ease-in-out;
    }
}
.content {
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out
}

// Image
.img-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
}
.img-desktop,
#img-box {
    display: none;
}
.img-mobile {
    width: 72%;
    position: absolute;
    top: -90%;
}


// Desktop
@media (min-width: 65em) {
    .faq-container {
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 900px;
        min-width: 900px;
        height: 500px;
        background: #fff url("../images/bg-pattern-desktop.svg") no-repeat;
        background-size: 60%;
        background-position: -47% 10px;
        margin: 0 1rem;
    }
    .accordion-container {
        align-items: flex-start;
    }
    .img-container {
        grid-column: 1;
        grid-row: span 2;
        position: relative;
    }
    .questions, .title {
        grid-column: 2;
    }
    .title {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }
    h1 {
        text-align: left;
        padding-left: 1.5rem;        
    }
    .img-mobile {
        display: none;
        
    }
    .img-desktop {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 100%;
        img {
            width: 100%;
            position: absolute;
            left: -18%;
        }
    }
    #img-box {
        display: inline-block;
        position: absolute;
        top: 42%;
        left: -25%;
    }
}
