// Imports
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//  Variables
//    Primary
//    Text
$very_dark_desaturated_blue: hsl(238, 29%, 16%);
$soft_red: hsl(14, 88%, 65%);

//    Gradient
//    Background gradient:
$soft_violet: hsl(273, 75%, 66%);
$soft_blue: hsl(240, 73%, 65%);

//    Neutral
//    Text
$very_dark_grayish_blue: hsl(237, 12%, 33%);
$dark_grayish_blue: hsl(240, 6%, 50%);
//    Dividers
$light_grayish_blue: hsl(240, 5%, 91%);


// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    font-size: inherit;
    border: none;
    background: inherit;
} 
body {
    font-size: 12px;
}

.faq-container {
    font-family: 'Kumbh Sans', sans-serif;

}


