.btn {
	display: inline-block;
	background-color: $clr-yellow;
	padding: 1rem 2.2rem;
	border-radius: 2rem;
	@extend %font-btn-mobile;
	transition: background-color 06s ease-in-out;
	

	&:hover {
		background-color: rgba($color: $clr-yellow, $alpha: 0.7);
		-webkit-animation: pulsate-bck 0.5s ease-in-out both;
	        animation: pulsate-bck 0.5s ease-in-out both;
	}
}

@media (min-width: $smallBreakpoint) {
	.btn {
		padding: 1rem 1.8rem;
		color: $clr-very_dark_desaturated_blue;
		background-color: #fff;
		font-size: 0.95rem;
		font-weight: 900;
		transition: background-color  0.5s ease-in-out;
		&:hover {
			background-color: rgba($color: #fff, $alpha: 0.7);
		}
	}
	
}



@-webkit-keyframes pulsate-bck {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
	50% {
	  -webkit-transform: scale(0.95);
			  transform: scale(0.95);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  @keyframes pulsate-bck {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
	50% {
	  -webkit-transform: scale(0.95);
			  transform: scale(0.95);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }